@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 50px 15fr 80px;
    grid-template-areas: 
        "nav"
        "filt"
        "grilla"
        "pie"    
}

.icono{
    width: 30px;
    filter: invert(100%) sepia(5%) saturate(7445%) hue-rotate(333deg) brightness(128%) contrast(91%);
}

.icono2{
    width: 30px;
    filter: invert(100%) sepia(5%) saturate(7445%) hue-rotate(333deg) brightness(128%) contrast(91%);

}
.container > .nav{
    display: flex;
    justify-content: space-between;
    grid-area: nav;
    background-color: rgb(57, 93, 185);
    color: white;
    padding: 15px;
}

.container > .nav > .sec1{
    display: flex;
    align-items: center;
    padding: 5px;
}

.container > .nav > .sec1 > h4{
    padding-left: 5px;
}

.container > .nav > .sec2{
    display: flex;
    align-items: center;
}

.container > .nav > .sec2 > button{
    display: flex;
    align-items: center;
}
.container > .nav > .sec3{
    display: flex;
    flex-direction: column;
    padding: 20px;
    display: none;
}

.container > .nav > .sec3 > ul> h4{
    padding: 10px;
}

.container > .filtros{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: filt;
    background-color: #ececec;
}

.container > .filtros > h4{
    padding-top: 5px;
}

.container > .filtros > select{
    width: 60%;
}

.container > .grilla{
    grid-area: grilla;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;    
}

.container > .grilla > .sec-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.container > .grilla > .sec-card > .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: #fcfcfc;
    padding: 10px;
    width: 300px;
}

.container > .grilla > .sec-card > .card > button{
    background-color: rgb(57, 93, 185);
    color: white;
    padding: 3px;
    border-radius: 3px;
    border: solid 1px #ececec;
}

.container > .grilla > .botones{
    display: flex;
    padding-bottom: 50px;
}

.container > .grilla > .botones > button{
    width: 20px;
    height: 20px;
    color: rgb(57, 93, 185);
    background-color: white;
    border: solid 1px #ececec;
}

.container > .pie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    grid-area: pie;
    background-color: rgb(45, 45, 86);
    color: white;
}

@media(min-width: 576px){
    .container{
        grid-template-columns: 200px 1fr;
        grid-template-rows: 50px 7fr 90px;
        grid-template-areas: 
            "nav filt"
            "nav grilla"
            "pie grilla"    
    }

    .container > .nav > .sec3{
        display: block;
    }

    .container > .grilla > .sec-card{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }

    .container > .nav{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 10px;
    }

    .container > .nav > .sec2{
        display: none;
    }

    .container > .grilla > .sec-card > .card{
        width: 200px;
    }
}